@model MCTCTicketSystem2.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@if (Model.DateCompleted != null)
{
    <div>
        <h4>Ticket</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateSubmit)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateSubmit)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateCompleted)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateCompleted)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.activeMessage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.activeMessage)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AdminComment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AdminComment)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.currentCategory.Label)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.currentCategory.Label)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.currentPlatform.Label)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.currentPlatform.Label)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.TicketId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
@if (Model.DateCompleted == null)
{
    <div>
        <h4>Ticket</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateSubmit)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateSubmit)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.activeMessage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.activeMessage)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.currentCategory.Label)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.currentCategory.Label)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.currentPlatform.Label)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.currentPlatform.Label)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.TicketId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}