@model IEnumerable<MCTCTicketSystem2.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<h2>Open Tickets</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateSubmit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activeMessage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.isActive == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateSubmit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.activeMessage)
                    </td>
                    <td>
                        |
                        <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.TicketId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
    </table>

<h2>Closed Tickets</h2>
    <table class="table">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateSubmit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.activeMessage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.isActive == false)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateSubmit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.activeMessage)
                        </td>
                        <td>
                            |
                            <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
