@model IEnumerable<MCTCTicketSystem2.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Tickets</h1>
<p>
    <a asp-action="Create">Create New Ticket</a>
</p>

@if (Model.Count() > 0)
{
    <h3>Open Tickets</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateSubmit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.activeMessage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.isActive == true)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateSubmit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.activeMessage)
                        </td>
                        <td>
                            |
                            <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.TicketId">Close</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <h3>Closed Tickets</h3>
    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DateSubmit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCompleted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activeMessage)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item.isActive == false)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateSubmit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCompleted)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.activeMessage)
                            </td>
                            <td>
                                |
                                <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        }
    }

    @if (Model.Count() == 0)
    {
        <div>
            <h3><i>You do not have any tickets submitted.</i></h3>
        </div>
    }
